.root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-self: center;
  padding: 10px 20px;
  background: linear-gradient(180deg, #3498db 0%, #273c75 100%);
  margin-bottom: 60px;
}

.navbarText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}

.navHeading {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 3px;
}

@media (min-width: 300px) {
  .navHeading {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 3px;
  }
}

.logoWrapper {
  width: 50px;
  height: 50px;
  border: 1px solid #3498db;
  background-color: #fff;
  padding: 4px;
  transform: translateY(10px);
  overflow: hidden;
}

.logo {
  display: block;
  height: 100%;
}

@media (min-width: 450px) {
  .logoWrapper {
    width: 180px;
    height: 55px;
    padding: 10px;
  }

  .logo {
    width: 100%;
  }
}

.pageContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items:  center;
  padding: 0px 10px;
}

.googleAuth {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emailText {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 12px;
}

.emailText > span {
  margin-bottom: 4px;
}

.googleBtn {
  display: block;
  width: 170px;
  height: 35px;
}

.googleBtnContent {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #dd4b39;
  border-radius: 2px;
}
.googleIcon {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.orSection {
  margin: 60px 0px;
  width: 60%;
  position: relative;
}

.bar {
  height: 2px;
  background-color: #aaa;
}

.orSection > span {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: #fff;
  transform: translate(-50%, -50%);
  font-size: 20px;
  letter-spacing: 2px;
  padding: 0px 10px;
}

.emailAuth {
  display: flex;
  flex-direction: column;
  max-width: 360px;
}

.emailAuth input{
  border: 1px solid #aaa;
  height: 40px;
  border-radius: 4px;
  padding: 0px 10px;
  font-size: 16px;
  margin: 4px 0px 20px;
}

.terms {
  text-align: center;
  margin-bottom: 8px;
}

.continueBtn {
  height: 40px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #3498db;
}

.continueBtn:disabled {
  background-color: #aaa;
}

.inputLabel {
  font-size: 12px;
}

.footer {
  height: 40px;
  padding: 0px 20px;
  border-top: 1px solid #aaa;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerLeft {
  display: flex;
}

.poweredBy {
  display: flex;
  flex-direction: column;
}

.big {
  font-size: 22px;
  font-weight: bold;
}

.footerLogo {
  width: 35px;
  height: 35px;
  margin-right: 8px;
}
