.main {
  width: 100%;
  background-color: #fff;
  padding: 30px 10px;
}

.main input[type='text'] {
  border: 1px solid #aaa;
  height: 40px;
  border-radius: 4px;
  padding: 0px 10px;
  font-size: 16px;
  min-width: 0;
}

.aadhaarField,
.otpField {
  margin-bottom: 16px;
}

.aadhaarField {
  display: flex;
  align-items: center;
}

.aadhaarFieldContent {
  flex: 1;
}

.aadhaarFieldInputWrapper {
  display: flex;
}

.aadhaarLogo {
  width: 80px;
  margin-right: 12px;
}

.aadhaarField input[type='text'] {
  flex: 1;
  margin-right: 16px;
  /* without this the input won't shrink */
  width: 0;
}

.consentField {
  font-size: 12px;
  margin-top: 5px;
  display: flex;
  align-items: flex-start;
}

.consentField input[type='checkbox'] {
  margin-right: 8px;
  margin-top: 2px;
}

.consentField span {
  flex: 1;
}

.main button {
  height: 40px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #3498db;
  min-width: 100px;
  border-radius: 2px;
}

.main button:disabled {
  background-color: #aaa;
}

.otpField {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.otpField input {
  margin-right: 16px;
}
