.root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar {
  height: 60px;
  border-bottom: 1px solid #aaa;
}

.unverifiedNav {
  font-size: 20px;
  font-weight: bold;
  padding: 0px 20px;
  height: 100%;
  display: flex;
  align-items: center;
}

.navbarSigning {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 20px;
  height: 100%;
}

.navbarSigning span {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 4px;
}

.navbarSigning a {
  font-size: 12px;
}

.verifyAadhaarWrapper {
  background-color: #fff;
}

.verifyAadhaar {
  max-width: 600px;
  margin: 0px auto;
}

.pageContent {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.document {
  padding: 20px;
}

.document h2 {
  margin-bottom: 15px;
}

.document p {
  margin-bottom: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0,0,0, 0.5);
}

.verifiedBanner {
  background-color: #b8e994;
  border: 1px solid #38ada9;
  position: absolute;
  left: 0;
  top: 0px;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: slideBanner 300ms ease;
}

.verifiedBanner span {
  color: #273c75;
}

.tick {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #38ada9;
  border: 1px solid #38ada9;
  border-radius: 50%;
  font-weight: bold;
  margin-right: 16px;
}

@keyframes slideBanner{
  from {
    transform: translateY(-20px);
  }

  to {
    transform: translateY(0px);
  }
}
